.card_container{
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100vw;
    padding: 2rem 0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.cards{
    border: none;
    width: 54rem;
    position: relative;
    margin: 1rem 1rem;
    height: 3rem;
    border-radius: 0;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    background: white;
    align-items: center;
    filter: drop-shadow(0px 0px 8px rgba(56, 56, 56, 0.863));
    cursor: pointer;
}
.cards p{
    margin-left: 5rem;
    color: rgb(0 0 0);
    float: left;
    display: flex;
    font-size: 1rem;
    background-color: transparent;
    width: 34rem;
}
.cards img{
    width: 7rem;
    height: 3rem;
    border: none;

}
.slideshow{
    z-index: 1;
}
.btn_container{
    height: 3rem;
    display: flex;
    justify-content: space-around;
    /* margin-top: 2rem; */
    background: #bbc7c7e0;
}
.btn_container .cat_btn{
    width: 8rem;
    font-size: 1rem;
    background: transparent;
    color: #060b26;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
 .cat_btn:hover{
    color: white;
  
    border-radius: 3px;
}
.slideshow{
    height: 25rem;
   
    width: 80vw;

}
.slideshow img{
    width: 100vw;
    height: 25rem;
    border: none;
}
.slider_width{
    width: 8S0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem;

}
.heading{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 2rem;
    font-size: 12px;
}
.heart{
    margin-left: 5rem;
}
.dots{
    width: 17px;
    background: transparent;
    border: none;
    cursor: pointer;
}