

.side_bar_wrapper{
    

    background: #060b26;
    width: 15rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 3rem;
    transition: 850ms;
    left: -100%;

}
.side_bar_wrapper.active{
    left: 0;
    transition: 350ms;
}
.nav-menu-items{
    top: 5rem;
}

.navbar-toggle{
    z-index: 1;
    top: -4rem;
    left: 9.5rem;
    font-size: 1.3rem;
    list-style-type: none;
    

}
.navbar-toggle a{
    color: white;
}
.nav-text{

    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
    position: initial;
    
    

}
.nav-text a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 1px 8px 0px;
    list-style: none;
    height: 1.5rem;
    position: initial;
    transition: none;
    width: 8rem;
    margin-bottom: 1rem;
    color: aliceblue;
    background-color: rgb(23, 39, 114);

    

}
.nav-text a:hover{
    border: 1px solid white;
    background: transparent;
}

.bottom_content{
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 11px;
    text-align: center;
    width: 11rem;
    top: 33rem;
    color: rgb(207, 205, 205);
   
}


